body {
  background-color: #222222;
}

header {
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
}

header * {
  display: inline;
}

header li {
  margin: 20px;
  transition: font-size 0.1s, color 1s;
  transition-timing-function: ease;
}

header li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  animation: text ease 3s;
}
header li:hover {
  font-size: 30px;
  color: rgb(180, 180, 180);
}

@keyframes text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

header img {
  height: 80px;
  padding: 1 1 1;
  margin: 1 auto;
  animation: logo ease-in 0.5s;
}

@keyframes logo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
