body {
  background-color: #222222;
  color: rgb(255, 255, 255);
  margin: 0;
}

header {
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
}

header * {
  display: inline;
}

header li {
  margin: 20px;
  transition: font-size 0.1s, color 1s;
  transition-timing-function: ease;
}

header li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  animation: text ease 3s;
}
header li:hover {
  font-size: 30px;
  color: rgb(180, 180, 180);
}

@keyframes text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

header img {
  height: 80px;
  padding: 1px 1px 1px 1px;
  margin: 1px 1px 1px 1px;
  animation: logo ease-in 0.5s;
}

@keyframes logo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* body */

section {
  display: block;
  margin: 10vh 0 10vh 0;
  align-items: center;
  text-align: center;
}

.avatar {
  margin: 1rem;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
  animation: avatar ease-out 0.5s;
}

@keyframes avatar {
  0% {
    opacity: 0;
    height: 350px;
    width: 350px;
  }
  100% {
    opacity: 1;
    width: 400px;
    height: 400px;
  }
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), #222222),
    url("https://i.pinimg.com/originals/bb/98/55/bb9855e4ce31410e9289453ddb447ceb.jpg");

  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  color: white;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border: 3px solid #fff;
}
.menu-btn__burger {
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.5 ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.5 ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-16px);
}
.menu-btn__burger::after {
  transform: translateY(16px);
}
